replicaCount: 1

image:
  name: booking-service
  tag: local
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:

livenessProbe:
  httpGet:
    path: /ping
    port: http
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /ping
    port: http
  initialDelaySeconds: 15
  periodSeconds: 20

